#bin_row {justify-items: stretch;
              display: grid;
              grid-template-columns: 52% 14% 18% 16%;
              width: 100%;
              margin-top: 10px;
              margin-bottom: 10px;}

#name_title{}
#price_title{font-size: 18px;
            font-weight: bold;}
#amount_title{font-size: 18px;
              font-weight: bold;
              padding-left: 2%;}
#final_sum_title{font-size: 18px;
                 font-weight: bold;}


#del_item { margin-right: 10px;
            padding: 0px;
            height: 19px;
            width: 19px;
            border: none;
            background: white;}
.center_num {font-size: 17px;
            margin-top: 10px;}
#prod_name {text-decoration: none;
            color: black;
            font-size: 17px;}
#prod_amount {font-size: 18px;
              display: flex;
              flex-direction: row;}


#bin_list {width: 80%;}
#total {width: 20%;
        height: 200px;}

#right_space_20 {width: 20%}
#left_space_20 {width: 20%}

.num_of_prod {border-bottom: 1px solid grey;
              border-top: 1px solid grey;
              margin: 4px;
              width: 30px;
              text-align: center;
              padding-top: 8px;}
#click_btn {text-align: center;
            width: 30px;
            background-color: white;
            border: none;
            color: red;}

#inf_total {display: flex;
            flex-direction: row;
            background-color: #EDEDED;
            margin-bottom: 20px;
            height: 60px;
            padding-top: 7px;}
#left_box {text-align: left;
           width: 50%;
           padding-left: 10px;
           padding: 10px;}
#right_box {text-align: right;
            width: 50%;
            padding-right: 10px;
            padding: 10px;}
#vert_center_1 {padding: 0px;
              margin: 0px;
              font-weight: bold;
              font-size: 18px;}
#vert_center_2 {padding: 0px;
              margin: 0px;
              font-weight: bold;}

#btn_confirm {text-decoration: none;
              color: black;
              text-align: center;
              width: 100%;
              font-weight: bold;}
#btn_confirm:hover {cursor: pointer;}
#btn_conf {background-color: yellow;
           padding: 14px;
           height: 60px;
           font-size: 20px;}
#label_empty {display: none;
              margin-top: 10px;
              text-align: center;
              font-size: 24px;
              padding-top: 10px;
              color: red;
              font-weight: bold;}

#gray_screen {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
      }
#gray_screen:target {display: block;}

#close_btn {width: 100%;
            display: block;}
#close_btn:hover {cursor: pointer;}
#btn_pos {right: 10px;
          position: absolute;}

#inf_window { width: 500px;
        padding: 15px;
        border-radius: 10px;
        color: black;
        font-size: 16px;
        font-weight: bold;
        background: #FEBD00;
        position: absolute;
        left: 37%;
        top: 35%;
}
#service{text-align: center;}

#text{font-size: 24px;}

#name_error {display: none;}
#phone_error {display: none;}
