#header {display: flex;
         flex-direction: row;
         width: 99%;}
#header_menu{width:100%;}
#basic_inf{background-color: white;
           display: flex;
           flex-direction: row;}

#loc_tag {height: 50%;
          padding-top: 4px;
          margin-right: 5px;}
#contact_tag {height: 50%;
          padding-top: 10px;
          margin-right: 5px;}

#margin0 {margin: 0px;
          font-size: 15px;}

#type{width: 25%;
      margin-left: 10px;
      margin-right: 10px;}

#streets{margin-left: 10px;
         margin-right: 10px;
         width: 35%;
         padding-top: 1%;}
#streets_rows{width: 100%;
        display: flex;
        flex-direction: row;}

#contact{margin-left: 10px;
         margin-right: 10px;
         width: 20%;
         padding-top: 2%;
         font-size: 20px;}
#contact_rows {width: 100%;
               display: flex;
               flex-direction: row;}
#bin {margin-left: 10px;
      width: 10%;
      text-align: center;}
#bin_test_footer {text-decoration: none;
                  color: black;
}

#btn_row {justify-items: stretch;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
              width: 100%;}
#btn_header_a {text-decoration: none;
               margin: 0px;
               height: 100%;}
#btn_header_div {background-color: #FEBD00;
             margin: 0px;
             padding: 15px;
             border: 1px solid black;
             color: black;
             text-align: center;
             font-weight: bold;
             height: 100%;}
#btn_header_div:hover {background-color: #FFC13B;}

#type_store {font-weight: bold;
             margin: 0px;}
#type_store_inf {font-weight: bold;
                 margin: 5px;
                 font-size: 17px;}
#type_store_loc {font-size: 13px;
                 margin: 0px;}
#type_store_hour {font-weight: bold;
                 font-size: 13px;}

#products_input {width: 100%;
                 margin-top: 5px;
                 margin-bottom: 5px;}
