html {
  height: 100%;
}

body {margin: 0px;
      padding-right: 0px;
      width: 100%;
      position: relative;
      min-height: 100%;}

#sale_announcement{background-color: red;}

#object{margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;}

#w {width: 100%;
    text-align: center;}

#left_space {width: 10%;}
#right_space {width: 10%;}

#left_space_40 {width: 40%;}
#right_space_40 {width: 40%;}
