body {margin: 0px;
      padding-right: 0px;
      width: 99%;}

#products_matrix_n {display: flex;
                    flex-direction: row;
                    padding-right: 20%;
                    padding-left: 28%;}


#product {color: black;
          text-decoration: none;
          width: 200px;
          height: 100px;}

#col {background-color: #F6F6F6;
      border: 1px solid black;
      width: 100%;
      height: 100%;}
#col:hover {box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            background-color: white;
            transform: translateY(-2px);}

#sale_announcement{background-color: red;}

#header {display: flex;
         flex-direction: row;
         width: 99%;}
#header_menu{width:100%;}
#basic_inf{background-color: white;
           display: flex;
           flex-direction: row;}

#type{width: 30%;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;}
#streets{margin-left: 5px;
         margin-right: 5px;
         width: 30%;
         text-align: center;}
#contact{margin-left: 5px;
         margin-right: 5px;
         width: 15%;
         text-align: center;}
#bin {margin-left: 5px;
      width: 15%;
      text-align: center;}

#btn_row {display: flex;
         flex-direction: row;}
#btn_header_a {text-decoration: none;
               margin: 0px;
               width: 20%;}
#btn_header_div {background-color: yellow;
             margin: 0px;
             padding: 7px;
             border: 1px solid black;
             color: black;
             text-align: center;
             font-weight: bold;}
#btn_header_div:hover {background-color: #FAFC75;}

#type_store {font-weight: bold;}
#products_input {width: 100%;
                 margin-top: 5px;
                 margin-bottom: 5px;}


#menu_footer {text-decoration: none;
              color: white;
              font-weight: bold;}
#footer {color: white;
         background-color: #273746;
         display: flex;
         flex-direction: row;
         margin-bottom: 0px;
         margin-right: 0px;}
#left_space {width: 10%;}
#right_space {width: 10%;}
#upper_part_3col {display: flex;
                  flex-direction: row;
                  padding: 10px;
                  margin: 10px;
                  align-content: center;
                  border-bottom: 1px solid white;}
#left_col {float: left;
            margin: 5px;
            width: 30%;
            text-align: center;}
#cent_col {float: center;
            margin: 5px;
            width: 30%;
            text-align: center;}
#right_col {float: right;
            margin: 5px;
            width: 30%;
            text-align: center;}

#object{width: 100%;
        display: flex;
        flex-direction: row;}
#catalog {width: 80%;
          align-items: center;}
#categories_col {background-color: #F6F6F6;
                 border: 1px solid black;
                 width: 200px;
                 height: 100px;}








