/* % иприменяется чтобы адоптировать сайт под использование на разных устройствах с разными размерами экранов
   Обычно проценты высщитываются от общего размера обекта в котором находится элемент. Например, кнопка (button) находится в блоке header
   и от текущего размера header будет высчитываться процент*/
/* px - пиксели */
/* #FFFFFF hex код для обозначения цвета */

body {background-color: #FFB273; /* устанавливаем фон на всей странице */
      margin: 0px;}  /* делаем так, чтобы объекты могли вплотную прилегать к краям страницы */

button{margin-bottom: 10%; /* указываем отступ от нижнего края для размещения кнопки*/
       margin-top: 10%;/* указываем отступ от верхнего края для размещения кнопки*/
       border: 0; /* убираем границу у кнопки */
       border-radius: 5px; /* заклугляем края с радиусом 5 пикселей */
       background: #4676D7; /* указываем цвет фона */
       color: #FFFFFF; /* цвет текста в кнопке */
       padding: 8px 16px; /* отступы от текста внутри до края кнопки */
       font-size: 16px; /* размер шрифта */
       text-align: center;} /* расположенеи текста в кнопке */

a { /* настраиваем ссылки */
  color: black; /* цвет текста */
  text-decoration: none; /* убираем подчёркивание */
}

a:hover { /* когда курсор наведён на ссылку */
  background: #cdfeaa; /* меняем цвет фона */
}

img {width: 50%; /* указываем ширину картинки */
    /* Почему-то когда указыввешь только одну величину, вторая тоже изменяется в соотвествии с первой */
     max-height: 300px;} /* максимальная высота картинки */

#header {background-color: #FF7100; /* фон верхней строки */
         margin: 0px;} /* убираем отступы, чтобы плотно прилегала к краям сайта */

#header_title{margin: auto; /* центрируем заголовок сайта */
              color: #FFFFFF; /* указываем цвет */
              font-family: Helvetica, Arial, sans-serif; /* Просто какие-то красивые шрифты */
              font-size: 24px; /* Размер шрифта */
              font-style: oblique; /* Стиль шрифта */
              font-weight: bold;} /* делаем его жирным */

#header_layout{border-bottom: 2px solid rebeccapurple; /* указываем обводку нижней границы верхней строки (размер тип цвет) */
               padding: 0.5%; /* отступы от строки до внутренних блоков */
               display: flex; /* располагаем по горизонтали */
               list-style: none;} /* убираем точки начала нового пункта, которые соответствую списку */

#main {display: flex;} /* располагаем основной текст и рецепт по горизонтали */
/* они находятся в специальном пространстве (main) */
#main_text{font-size: 20px;} /* размер основного текста */

#links {border: 2px solid rebeccapurple; /* указываем стиль граней блока рецептов */
       margin: 100px 1%; /* отступы 100 пикселей сверху чтобы всегда было фиксированное расстояние, 1% от левого края страницы*/
       padding: 50px; /* отступы от текста до краёв блока рецептов */
       background-color: #FF7100; /* фон */
       min-width: 170px; /* минимальная ширина */
       max-height: 200px; /* максимальная высота */
                          /* это нужно чтобы текст смотрелся по центру в независимоти от размеров экрана
                             и название одного рецепта не переносилось на новую строчку */
}

#links_title{text-align: center; /* центрируем заголовок блока рецоптов */
             margin-top: 0px;} /* тоже нужно чтобы поставить ровно в центр */

#links_layout {list-style: none; /* убираем знаки, обозначающие начало нового пункта */
               padding-left: 1px; /* растояние от текста до краёв */
               font-size: 20px; /* размер шрифта */
}
